.section{
    width:100%;
    height:100%;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
}
.section a{
    text-decoration: none;
}
.section small{
    width:100%;
}
.section textarea{
    font-size:5em;
    width:100%;
    text-align:center;
    border:transparent;
}
.section button{
    width:80px;
    height:80px;
    font-size:3em;
    text-align:center;
    color:grey;
    background-color:transparent;
}
 .slider-change
{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: grey;
}
#navLinks{
text-align:center;
height: 40px;
top: 90%;
    position: fixed;
    width: 100%;
}
.contentContainer{
    -webkit-transition: all 2s;
    transition: all 2s;
    width: 100%;
    height: 400px;
    text-align: center;
    overflow: hidden;
}
.thumb{
    width:300px;
}
input[type="file" i]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputFile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: grey;
    display: inline-block;
    padding:10px;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: #0095de;
}
