.fotoTurma{
	overflow: auto;
	position:relative;
}
body{
	background:url(your-image.jpg) top right no-repeat; 
  	background-image:url("images/turma.jpg");
  	background-attachment: fixed;
  	background-color: #8C409F;
  	background-blend-mode: luminosity;
  	-webkit-animation: image_blur 1s; 

}

@-webkit-keyframes image_blur {
    0% { -webkit-filter: blur(10px);}
    100%; { -webkit-filter: blur(0px);}
}


.btn-primary.outline {
border: 1px solid #FFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #FFF;
    display: block;
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    -o-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}
.btn.outline {
	background: none;
	padding: 12px 22px;
}
.fotoLogin{
	border-radius:100%;
	border:white 2px;
	width:150px;
	height:150px;
	background:white;
	background-size:cover;
	background-position:center;
	box-shadow: inset 0px 5px 10px rgba(0,0,0,0.4);
	transition: background-color 0.5s ease;
}
.fotoLogin:target{
	transition: background-color 0.5s ease;
}
.filho{

}
.fotoFilho{
	border-radius:100%;
	border:white 2px;
	width:150px;
	height:150px;
	background-image:url("images/guto.png");
	background-size:cover;
	background-position:center;
	box-shadow: inset 0px 10px 20px rgba(0,0,0,0.8);
	transition: all 0.5s ease;
	margin:20px;
}
.fotoFilho2{
	background-image:url("images/benjamin.png");
}
.filhoNome{
	font-size:24px;
	text-align:center;
	width:50%;
	color:white;
	font-family: 'Vidaloka', serif;
}
.topInfo{
	background-color:#4096A2;
	height:180px;
	display:flex;
	justify-content: space-between;
	width:100%;
}
.title{
	font-size:1.5em;
	color:white;
	font-family: 'Vidaloka', serif;
	padding:20px;
}
.title:hover{
	-webkit-transition:all .2s ease-in;
}
.topInfoClose{
	float:right;
}
.topInfoMenu{
	float:left;
}
.topInfoDate{
	text-align:center;
	width:203px;
	float:left;
}
.middleInfo{
	margin-top:-100px!important;
	display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
    margin:20px;
    height:80%;
}
.middleInfoColumn{
	flex-direction: column;
}
.bottomInfo{
	position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.warning{
	background-color:white;
	border:1px grey solid;
	padding:20px;
	width:80%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.09);
}
.fab{
	border-radius: 100%;
    background-color: #4096A2;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20%;
    bottom:0;
}