 /*TEST CSS FOR COURSES*/

/*@import url(https://fonts.googleapis.com/css?family=Questrial);

body{
  font-family: 'Questrial', sans-serif;
}*/

@import url(https://assets.gcs.thomsonreuters.com/fonts?variants=regular|bold|light);
body{
  font-family: 'KnowledgeRegular'!important;
}


@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.painelFeedback{
  display:flex;
  justify-content: center;
  align-items: center;
}

.feedbackTextareaStart{
  -webkit-transition: all 250ms ease;
  opacity: 0;
  height:0;
  margin: 0px;
  overflow:hidden;
  width:0;
}
.feedbackTextareaFinish{
  opacity: 1;
  -webkit-transition: all 250ms ease;
  height:40px;
  margin: 15px;
  font-weight: 200;
  font-size:16px;
  width:100%;
}
.feedbackText{
  resize: none;
  width:100%;
  padding: 0px;
  font-family: sans-serif;
  height:100%;

}
.feedbackContainer{
    margin:20px;
    display: flex;
    overflow:overlay;
    z-index: 200;
    max-width:500px;
    border-radius:5px;
    background-color: white;
    flex-wrap: wrap;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    -webkit-animation: opacityOut .5s ease-out forwards;
}

.opacityIn{
      -webkit-animation: opacityIn .5s ease-out forwards;
}

.opacityOut{
      -webkit-animation: opacityOut .5s ease-out forwards;
}

@keyframes opacityOut{
  from { opacity:0;}to { opacity:1;}
}

@keyframes opacityIn{
  from { opacity:1;}to { opacity:0;}
}

.feedbackStarRating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-shadow: -1px 1px 30px #ffc;
}
.feedbackStarRating > span {
  display: inline-block;
  position: relative;
  font-size: 3em;
  user-select:none;
}
.feedbackStarRating > span:hover:before,
.feedbackStarRating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.answerNumber{
    background-color: #ff8000;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.answerNumber > span{
  color:white;
  font-weight: bold;
}
.answerContainer{
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding:10px;
}
.answerContainer:nth-child(odd){
  background-color:rgba(0,0,0,.1);
}

.answerLabel{
    font-size: 1em;
    width: 80%;
    height: 80px;
    overflow-y: scroll;
    -webkit-animation: changeBackground .2s ease-out forwards;
}

input[type="checkbox"]{
  content: '';
  background: transparent;
  border-radius: 100%;
  border: 5px solid white;
  width: 2.4em;
  height: 2.4em;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-appearance: none !important;
}
input[type="checkbox"]:hover{
  opacity:.5;
  background: white;
  border-radius: 100%;
  border: 0px solid white;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-appearance: none !important;
}
input[type="checkbox"]:checked{
  opacity:1;
  border-radius: 100%;
  border: 5px solid #ff8000;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-appearance: none !important;
}



.questionContainer{
  font-size:2em;
}

.progressBarContainer{
    width: 60%;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    display:inline-flex;
}
.progressBar{
    width: 98%;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    background: -webkit-linear-gradient(left, #74d00f , white); 
    background: linear-gradient(to right, #74d00f , white);
}

.certificationOut{
  -webkit-animation: certificationOut .5s ease-out forwards!important;
}

@-webkit-keyframes certificationOut{
    0%{
      opacity:1;
      transform:translateY(0);
      -webkit-filter: blur(0px)
    }
    100% {
      opacity: 0;
      position:absolute;
    }
}

.certificationLogo{
    -webkit-animation: certificationLogo 1s ease-out forwards;
    top: 50%;
    left: 50%;
    position:relative!important;
    width:10em;
}
@keyframes certificationLogo{
  from { opacity:0;-webkit-filter: blur(10px);transform: translate(-50%, -50%) scale(5);width:15em;}
  to { opacity:1;-webkit-filter: blur(0px);transform: translate(-50%, 0%)}
}

div[id="fimMarketingIcon"] > span:hover{
  -webkit-animation: glowCircle 250ms ease-out forwards;
}

div[id*="certification"] > span{
  font-size:60px;
}

.certification{
    width: 10em;
    display: -webkit-inline-box;
    text-align:-webkit-center;
    font-size:18px;
    line-height:28px;
    font-family: 'KnowledgeLight'!important;
    margin:20px;
}

.certificationActive{
    text-shadow: -1px 1px 30px #ffc;
    -webkit-filter: blur(0px);
    opacity:1;
    background-color:white;
    border-radius:100%;
    padding:20px;
    color:#00BEFF;
}

div[id="certificationGroup"]{
    display:flex;
    width:100%;
    height:400px;
    flex-wrap: wrap;;
    align-self: center;
    justify-content: center;
    font-size:17px;
    margin-left: inherit;
    max-width: inherit;
}

div[id="certificationGroup"] > span{
    width:100%;
    font-size:30px;
}

div[id="certification1"]{
    -webkit-animation: blurIn .5s ease-out forwards;
}
div[id="certification1"] > span:hover{
  -webkit-animation: glowCircle 250ms ease-out forwards;
}

div[id="certification2"]{
    -webkit-animation: blurIn 1s ease-out forwards;
}
div[id="certification2"] > span:hover{
  -webkit-animation: glowCircle 250ms ease-out forwards;
}

div[id="certification3"]{
    -webkit-animation: blurIn 1.5s ease-out forwards; 
}
div[id="certification3"] > span:hover{
  -webkit-animation: glowCircle 250ms ease-out forwards;
}

div[id="certification4"]{
    -webkit-animation: blurIn 2s ease-out forwards;
}
div[id="certification4"] > span:hover{
  -webkit-animation: glowCircle 250ms ease-out forwards;
}


.blink:after{
    z-index: 200000;
    content: '';
    position:absolute;
    width: 56px;
    height: 40px;
    background: url(https://moodle.dominiosistemas.com.br/assets/imagesTR/spriteClickHere.png) no-repeat;
    -webkit-animation: blink .9s steps(30) infinite;
    margin:5%;
}

@keyframes blink {
  0% { background-position: 0 0 ;}
  100% { background-position: -1680px 0; }
}

.fimLogo{
  position:relative!important;
  -webkit-animation: blurIn 1s ease-out forwards;
  width:355px;
  height:355px;
}

.fimContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex!important;
    visibility: visible;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background:#999999;
}

.fimText{
    font-size: 125%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    z-index:100;
}
.fimMarketingContainer{
    /* width: 95px; */
    /* height: 95px; */
    /* font-size: 3em; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    /* border: 5px solid white; */
    /* border-radius: 100%; */
}
.fimMarketingContainerBlue{
  margin-top:170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fimMarketingIconBlue{
  color:#00b1f1!important;
  border:#00b1f1 5px solid!important;
}

.fimMarketingBlue{
  color:#00b1f1!important;
  margin-left:20px;
}

.fimMarketingIcon{
    width: 95px;
    height: 95px;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 5px solid white;
    border-radius: 100%;
}

.fimMarketingIconText{
    font-size: large;
}

.fimMarketingBackground{
  bottom: -25%!important;
  z-index: 100;
}
.fimMarketingBackgroundStart{
  width: 100%;
  height: 480px;
  position: absolute;
  bottom: -70%;
  background-repeat: repeat-x;
  background-position: -30px 0px;
  background-image: url(https://moodle.dominiosistemas.com.br/assets/imagesTR/marketingCloudsBackground.svg);
  background-size: 1150px;
}

.fimMarketingCursosContainer{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height:230px;
}

.fimMarketingCurso{
  width:150px;
  height:150px;
  /*background:white;*/
  border-radius:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  /*box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);*/
  flex-direction: column;
}

.fimMarketingCurso > a{
  width:100px;
  height:100px;
  font-size: medium;
  color:#999999;
  padding:0;
  background:transparent;
}

.fimMarketingCurso > a > img{
  width:100px;
  height:100px;
  font-size: medium;
  padding:0;
  background:transparent;
}

.fimMarketingCurso > a:hover{
  -webkit-animation: scaleIn 250ms ease-out forwards;
}

.goUp{
  -webkit-animation: goUp 1s ease-out forwards; 
  flex-wrap: wrap;
}

.goUpBlur{
  -webkit-animation: goUpBlur 1s ease-out forwards; 
}

@keyframes goUp{
  from{ 
    transform: translateY(0);
    opacity: 0;
  }
  to{ 
    transform: translateY(-40%);
    opacity: 1;
  }
}

@keyframes goUpBlur{
  from{ 
    transform: translateY(0);
    -webkit-filter: blur(0px);
    opacity: 1;
  }
  to{ 
    transform: translateY(-40%);
    -webkit-filter: blur(3px);
    opacity: .7;
  }
}

@keyframes glowCircle{
  from { 
    text-shadow: -1px 1px 0px #ffc;
    color:transparent;
    border-radius:100%;
    opacity:0;
    -webkit-filter: blur(10px);
  }
  to { 
    text-shadow: -1px 1px 30px #ffc;
    -webkit-filter: blur(0px);
    opacity:1;
    background-color:white;
    border-radius:100%;
    padding:20px;
    color:#00BEFF;
  }
}


.painelNormal > #infoTopico{
    bottom: 10%;
    position: absolute;   
    text-align: -webkit-center;
}

.painelLateral > #infoTopico{
    bottom: -10%;
    color: rgb(255, 255, 255);
    position: fixed;
    text-align: -webkit-center;
    width:100%;
}

.painelLateralWelcome > #infoTopico{
    bottom: 2%;
    color: rgb(255, 255, 255);
    position: fixed;
    text-align: -webkit-center;
    width:100%;
}

.painelNormalTextoSlide{
  width:88%!important;
  margin-left:0!important;
  max-width:88%!important;
  height:80%;
}

.ranger{
    pointer-events: all;
    bottom: -4px;
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: -webkit-center;
    width: 100%;
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 5px;
  background-color: #ff8000;
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
}
input[type="range"]:hover {

}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 30px;
  border-color:#FFFFFF;
  border-width: 3px;
  transition: all 0.5s ease;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #FF8000;
  box-shadow: 0px 11px 68px rgba(0, 0, 0, 0.2);
}
input[type="range"]::-webkit-slider-thumb:active {
  outline:none;
}


#sidePainel {
  display: flex;
  flex-direction: column;
  z-index: 1000;
    position: absolute;
    height: 100%;
    width: 150px;
    top: 0px;
    left: 100%;
}
#sidePainel > div{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blurAll{
  -webkit-filter: blur(10px);
  opacity:.5!important;
  position:absolute;
  transition: all 0.3s ease-out;
}
.fvmIntro{
  width: 457px;
  height: 459px;
  left: 40px;
  top: 135px;
  display: block;
  position: absolute;
}

.successCaption{
  display:flex!important;justify-content: center!important;align-items:center;width:100%;height:100%;color:white;font-size:10em;
}


@keyframes scaleIn{
  from { opacity:0;transform:scale(1.2);}
  to { opacity:1;transform:scale(1);}
}

@keyframes scaleOut{
  from { opacity:1;transform:scale(1);    transform: translate3d(260%, 100%,0);}
  to { opacity:0;transform:scale(1.5);    transform: translate3d(0%,0%,0);}
}

.scaleOut{
-webkit-animation: scaleOut 1s ease-out forwards;
}

.beneficiosCourseLogo {
    -webkit-animation: beneficiosCourseLogo 1s ease-out forwards;
    top: 50%;
    left: 50%;
    position:relative!important;
    }

@keyframes beneficiosCourseLogo{
  from { opacity:0;-webkit-filter: blur(10px);transform: translate(-50%, -50%) scale(5);width:15em;}
  to { opacity:1;-webkit-filter: blur(0px);transform: translate(-50%, 0%);width:10em;}
}
div[id*="beneficio"] > span{
  font-size:80px;
}


div[id*="beneficio"]{
    width: 250px;
    display: -webkit-inline-box;
    text-align:-webkit-center;
    font-size:18px;
    line-height:28px;
    font-family: 'KnowledgeLight'!important;
    margin:20px;
}

div[id="beneficioGroup"]{
    display:flex;
    width:100%;
    height:400px;
    flex-wrap: wrap;;
    align-self: center;
    justify-content: center;
    font-size:17px;
    margin-left: inherit;
    max-width: inherit;
}

div[id="beneficioGroup"] > span{
    width:100%;
    font-size:30px;
}

div[id="beneficio1"]{
    -webkit-animation: blurIn .5s ease-out forwards;
    

}
div[id="beneficio2"]{
    -webkit-animation: blurIn 1s ease-out forwards;
}
div[id="beneficio3"]{
    -webkit-animation: blurIn 1.5s ease-out forwards;
}
div[id="beneficio4"]{
    -webkit-animation: blurIn 2s ease-out forwards;
}

div[id*="Click_Box"],div[id*="Highlight_Box"]{
 cursor:default; 
}

input[aria-label*="Text Entry"]{
 cursor:text!important; 
}

video::-webkit-media-controls {
  display: none;
}

.painelLateralTextoSlideSaibaMais{
  display:none!important;
}

.painelNomeTopicoSaibaMais{
 display:none!important; 
}

@keyframes logoCoursefvmFinal {
  0% { opacity:0;transform:translate3d(460%,170%,0)}
  100% { opacity:1;transform:translate3d(220%,170%,0)}
}

@keyframes avaliacaoPraticafvmFinal {
  from
  {
    opacity:0;
    -webkit-filter: blur(10px);
    transform:translate3d(0,170%,0)
  }
  to
  {
      opacity:1;
     -webkit-filter: blur(0px);
     transform:translate3d(120%,170%,0)
  }
}

.logoCoursefvmEndAnimation{
    display:block!important;
    left:0!important;
    width:224px;
    -webkit-animation: logoCoursefvmFinal .5s forwards;
}

.logoCourseFvm{
    position: absolute;
    display: table;
    width: 225px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    transform: translate3d(331%,61%,0);
    transition: all 0.3s ease-out;
}

.avaliacaoPratica{
    position: absolute;
    display: table;
    width: 215px;
    height:215px;
    color: rgb(255, 255, 255);
    font-size: 24px;transform:translate3d(242%,44%,0);transition: all 0.3s ease-out;
}

.avaliacaoPraticafvmEndAnimation{
    visibility: visible;
    background:#ff8000;
    z-index:100;
    width: 225px;
    height: 225px;   
    position: absolute;
    display: table;
    color: rgb(255, 255, 255);
    -webkit-animation: avaliacaoPraticafvmFinal .5s forwards;
}   

center{
    align-self: center;
    margin: auto;
}


.tooltip {
  text-decoration: none;
}
.tooltip:hover {
    color: #666666;
    position: relative;
    cursor: default;
    transition: all 0.3s ease-out;
}
/* Tooltip on Top */
.tooltip-top[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    font-size:14px;
    padding: 15px;
    border-radius:5px;
    position:absolute;
    z-index: 200;
    background-color: #666666;
    color: #ffffff;
    top:100%;
    margin-top:15px;
    left:0;
}
.tooltip-top[data-tooltip]:hover:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid #666666;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    top:100%;
    left:50%;
}

h6{
    text-align: center;-webkit-margin-before:0!important;-webkit-margin-after:0!important;
    font-size:10em;    text-transform: uppercase;
}

.motion{
    height:inherit;
    margin: auto;
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    align-items: center;
    -webkit-user-select: auto;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    overflow: visible;
}

.motion{
    opacity:0;
    animation: motion .5s ease-out forwards; 
}

.motion > p{
    height: inherit;
justify-content: center;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.motion *:nth-child(1){
  -webkit-animation-delay: .2s;
}
.motion *:nth-child(2){
    -webkit-animation-delay: .4s;
}
.motion *:nth-child(3){
    -webkit-animation-delay: .6s;
}




@-webkit-keyframes motion{
  0%{
    transform: translate3d(0px, 1000px, 0px);
    transform:scale(2);
    opacity: 0;

    }
  100%{
    transform: translate3d(0px, 0px, 0px);
    transform:scale(1);
    opacity: 1;
    }
}


h5{
      border-radius: 50px;
    padding: 10px;
    text-align: center;
    display: table;
    border: 3px solid;
    font-size:inherit;    text-transform: uppercase;
}
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 8px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars. 
     Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

h1{
  font-weight: 100;text-transform:uppercase;-webkit-margin-after:0px!important;-webkit-margin-before:0px!important;line-height:1;/*removed affecting the height value -webkit-animation: changeBackground .2s ease-out forwards;*/
}
h2{
  font-size: 1.3em;font-weight:100;text-transform:uppercase;
      -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
}

h4{
  font-size: 1em;font-weight: 100;text-transform:uppercase;
}

blockquote{
  font-weight:100!important;line-height:15px!important;display:table;-webkit-margin-start: 20px!important;-webkit-margin-end: 20px!important;
}

div[id*="Video"], div[id*="re-Video"], div[class*="cp-eventVideo"], video{
      
}

.closeButton{
  position:absolute;width:30px;height:30px;bottom:0;right:50%;border:white 3px solid;background-position: center center;background-image: url("https://qamoodle.dominiosistemas.com.br/assets/imagesTR/closeIcon.svg");border-radius:100%;
}

.borderColor{
 background-color:blue; opacity:.8; border:solid 1px blue!important;-webkit-margin-before: 0!important;-webkit-margin-after: 0!important;
}

.borderColor:hover{
    -webkit-transform: scale(.98);opacity: .15;transition: all 0.3s ease-out;
}

.closeTurnImage{
    -webkit-transform: rotateY(-180deg);
    opacity: .15!important;
    transition: all 0.3s ease-out;
    position:absolute;
    pointer-events: none;
    z-index:-10;
}
.openTurnImage{
    -webkit-animation: openTurnImage 1.3s;
    opacity: 1!important;
    transition: all 0.3s ease-out; 
    height:100%;
    -webkit-margin-before: 0!important;
    -webkit-margin-after: 0!important;
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    overflow-y:auto;
    overflow-x:hidden;
    word-break: break-word;
}
.openTurnImage > p li{
  overflow-x: :hidden;  
  overflow-y:auto;
}

.openTurnImage > h1 h2{
  position:absolute;
}

@-webkit-keyframes openTurnImage{
    0%{
        /*opacity: 0;-webkit-transform: rotateY(90deg);*/
        overflow-y:hidden; overflow-x:hidden;
        opacity: 0;-webkit-transform: scale(.98);
        height:0%;
    }
    100% {
        
        /*-webkit-transform: rotateX(0deg)*/
        overflow-y:auto; 
        height:100%;
        opacity: 1;-webkit-transform: scale(1);

    }
}
/*@font-face {  
  font-family: 'Knowledge';  
  src: url('./Knowledge/knowledge-light.eot');  
  src: url('./Knowledge/knowledge-light.eot?#iefix') format('embedded-opentype'),  
  url('./Knowledge/knowledge-light.woff') format('woff'),  
  url('./Knowledge/knowledge-light.ttf') format('truetype'),  
  url('./Knowledge/knowledge-light.svg#knowledgelight') format('svg');  
  font-weight: normal;  
  font-style: normal;  
}  

@font-face {  
  font-family: 'Knowledge';  
  src: url('./Knowledge/knowledge-bold.eot');  
  src: url('./Knowledge/knowledge-bold.eot?#iefix') format('embedded-opentype'),  
  url('./Knowledge/knowledge-bold.woff') format('woff'),  
  url('./Knowledge/knowledge-bold.ttf') format('truetype'),  
  url('./Knowledge/knowledge-bold.svg#knowledgelight') format('svg');  
  font-weight: bold;  
  font-style: bold;  
}

body {  
  font:"Knowledge", arial, sans-serif;  
  font-weight: 100;  
} */ 

#character{
  top: 130px;
  left: 760px;
  width: 140px;
  z-index: 250;
  height: 430px;
  position: absolute;
  pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.talkingOld{
  background: url('../images/talking.png') left center;
  -webkit-animation: talking 2.1s steps(60) infinite;
}

.talking{
  background: url('../images/talking.png') left center;
  -webkit-animation: talking 2.1s steps(60) infinite, talkingWalkLeft 2.3s steps(60) 3s 0.5, talkingWalkRight 2.3s steps(60) 12s 0.5;
  animation: talking 2.1s steps(60) infinite, talkingWalkLeft 2.3s steps(60) 3s 0.5, talkingWalkRight 2.3s steps(60) 12s 0.5;
}

@-webkit-keyframes talking {
  0% { background-position: 0 0 ;}
  100% { background-position: -8400px 0; }
}
@keyframes talking {
  0% { background-position: 0 0 ;}
  100% { background-position: -8400px 0; }
}

.idle {
  background: url('../images/idle.png') left center;
  -webkit-animation: idle 2.5s steps(60) infinite, idlePoint 2.5s steps(60) 5s 0.5;
  animation: idle 2.5s steps(60) infinite, idlePoint 2.5s steps(60) 5s 0.5;
}
@-webkit-keyframes idlePoint {
  0% { background-position: 0 430px ;}
  100% { background-position: -8400px 430px; }
}
@keyframes idlePoint {
  0% { background-position: 0 430px ;}
  100% { background-position: -8400px 430px; }
}

@-webkit-keyframes idle {
  0% { background-position: 0 0 ;}
  100% { background-position: 8400px 0; }
}
@keyframes idle {
  0% { background-position: 0 0 ;}
  100% { background-position: 8400px 0; }
}



.reflectBelow{ 
  -webkit-box-reflect: below 0
    -webkit-gradient(ease-out, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(white)); 
}

.shadow{
 /* box-shadow: 0px 11px 68px rgba(0, 0, 0, 0.2);*/
}

.rotateDoor{
  -webkit-transform: perspective(300) rotateY(-90deg) scale(3);
  transform-origin: 0% 0%;
  -webkit-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.scaleBorderAnimation {
  border-radius: 100%;-webkit-transition: all 0.2s ease-in;transition: all 0.2s ease-in;
}

.scaleUp{
  -webkit-transform: scale(1);
    -webkit-filter: opacity(1);
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.open{
  transform: rotateY(0deg);transform-origin: 0% 10%;perspective:500px;visibility: visible;-webkit-filter: opacity(1);-webkit-transition: all .5s ease-in;transition: all .5s ease-in;
}
.close{
  transform: rotateY(-90deg);transform-origin: 0% 10%;perspective:500px;visibility: hidden;-webkit-filter: opacity(0);-webkit-transition: all .5s ease-in;transition: all .5s ease-in;
}

.fadeOut{
  -webkit-filter: opacity(0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  display:none;
}

.fadeIn{
  opacity: 1!important;
  visibility: visible;
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
}

.moveOut{
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: visible;
}

.moveDown{
 -webkit-transform: translateY(200%);
  transform: translateY(200%);
  opacity: 0;
  visibility: hidden;
}

.moveIn{
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.5s ease-out;
  visibility: hidden;
}

.mostrarOcultarInativo{
  -webkit-transform: translateY(00%) translateX(0%);
  transform: translateY(20%) translateX(0%);
  opacity: 0;
  visibility: visible;
}

.mostrarOcultarAtivo{
  -webkit-transform: translateX(0%); transform: translateX(0%); -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; visibility: hidden;
}


.borderAnimation {
  border-radius: 100%;
  transform: scale(.9);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

table{
    border: 0;
    border-collapse: separate;
    padding: 3px;
    text-align: center;
    -webkit-animation: changeBackground .5s ease-out forwards;
    /* border-radius: 5px; */
}
td{
    border: 0;
    border-collapse: separate;
    padding: 20px;
    border-style: solid;
    background-color: rgba(47, 47, 47, 0.18);
    min-height: 20px;
    min-width: 20px;

}
th{
    border: 0;
    border-collapse: separate;
    padding: 10px;
    color: #ff8000;
    border-style: solid;
    background-color: rgba(255,255,255,0.5);
}

.tableBorder{
  border-color:rgba(0,0,0,0.2);border-radius:100%;border-width:3px;height:25px;width:25px;-webkit-transition: all 5s ease-out;transition: all 5s ease-out;-webkit-animation: changeBackground .3s ease-out .3s forwards;
}

li{
    opacity:0;
    list-style: none;
    padding: 0px 0 5px 30px;
    position: relative;
}

li:before {
    content: '';
    background: url("https://moodle.dominiosistemas.com.br/assets/imagesTR/sprite.png") no-repeat left top;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0px;
    background-position: -21px 1px;
}

li:nth-child(1){
    -webkit-animation: changeBackground .2s ease-out forwards;
}
li:nth-child(2){
    -webkit-animation: changeBackground .3s ease-out .3s forwards;
}
li:nth-child(3){
    -webkit-animation: changeBackground .4s ease-out .4s forwards;
}
li:nth-child(4){
    -webkit-animation: changeBackground .5s ease-out .5s forwards;
}
li:nth-child(5){
    -webkit-animation: changeBackground .6s ease-out .6s forwards;
}
li:nth-child(6){
    -webkit-animation: changeBackground .7s ease-out .7s forwards;
}
li:nth-child(7){
    -webkit-animation: changeBackground .8s ease-out .8s forwards;
}
li:nth-child(8){
    -webkit-animation: changeBackground .9s ease-out .9s forwards;
}
li:nth-child(9){
    -webkit-animation: changeBackground 1s ease-out 1s forwards;
}
li:nth-child(10){
    -webkit-animation: changeBackground 1.1s ease-out 1.1s forwards;
}
li:nth-child(11){
    -webkit-animation: changeBackground 1.2s ease-out 1.2s forwards;
}
li:nth-child(12){
    -webkit-animation: changeBackground 1.3s ease-out 1.3s forwards;
}
li:nth-child(13){
    -webkit-animation: changeBackground 1.4s ease-out 1.4s forwards;
}
li:nth-child(14){
    -webkit-animation: changeBackground 1.5s ease-out 1.5s forwards;
}
li:nth-child(15){
    -webkit-animation: changeBackground 1.6s ease-out 1.6s forwards;
}
li:nth-child(16){
    -webkit-animation: changeBackground 1.7s ease-out 1.7s forwards;
}

.blurIn {
    -webkit-animation: blurIn 0.5s ease-out forwards;
}

@keyframes blurIn{
  from
  {
    opacity:0;
    -webkit-filter: blur(10px);
  }
  to
  {
   opacity:1;
    -webkit-filter: blur(0px);
  }
}


.blurNothing{
 -webkit-filter: blur(0px);
 opacity:1;
  transition: all 0.5s ease-out; 
}

.blurOut {
    -webkit-animation: blurOut 0.5s ease-out forwards;
}

@keyframes blurOut{
  from
  {
    opacity:1;
    -webkit-filter: blur(0px);
  }
  to
  {
    opacity:0;
    -webkit-filter: blur(10px);
    visibility: hidden;
    display:none;
  }
}


@keyframes changeBackground{
  from
  {
    margin-left:-30%;
    background-color:rgba(255,255,255,1);
    opacity: 0;
    -webkit-transform: scale(1.3) rotate(15deg);
    transform: rotateY(-90deg);
    transform: rotateY(-30deg);
  }
  to
  {
    opacity: 1;
    margin-left:0%;
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    background-color:rgba(255,255,255,0);
    transform: rotateY(0deg);
    transform: rotateY(-0deg);
  }
}

.painelTop{
  background-color:#666666;transform: translateY(-16em) translateX(6em);height:10em;
}
.painelLow{
  background-color:#666666;transform: translateY(18.5em) translateX(6em);height:10em;
}
.painelTop800{
  background-color:#666666;transform: translateY(-16em) translateX(5em);height:10em;
}
.painelLow800{
  background-color:#666666;transform: translateY(8em) translateX(5em);height:10em;
}



.painelLateral{
  -webkit-transform: translateY(-235px) translateX(50px);
    height:80%;
    width:86.5%;
    background:rgba(0,0,0,0);
    visibility: visible;
    
    z-index:200!important;
}
.painelLateralNext{
transform:translate3d(52em,38.5em,0)
}
.painelLateralPrevious{
transform:translate3d(0,620px,0)
}
.painelLateralNext800{
transform:translate3d(40em,29em,0)
}
.painelLateralPrevious800{
transform:translate3d(-2em,29em,0)
}
.painelNormal{
  width:80%;
  border-radius: 5px;
  color:white;
}
.painelNormalPrevious{
transform:translate3d(46em,6em,0)
}
.painelNormalNext{
transform:translate3d(46em,1em,0)
}

.painelCharacterPrevious,.painelCharacterNext{
}
.painelCharacterPrevious{
}

#painel{
  z-index:150;
  padding:10px;
  pointer-events:none;
}
#nextBtn, #previousBtn{
height:50px!important; width:78px!important; top:0;display:table; pointer-events:fill; position:absolute; -webkit-user-select:none;text-shadow:1px 1px 12px rgba(0,0,0,.5);
}

#nextBtn> p:hover, #previousBtn > p:hover{
  color:white!important; transition:all .2s ease-in;
}
#painelTextoSlide{
  overflow-y:auto;
  font-weight: lighter;
  pointer-events:auto;
  line-height:1.1;
  -webkit-overflow-scrolling: touch;

}

#painelNomeTopico{
  top:-20px;left:5px;font-size:11;position:absolute;text-shadow:1px 1px 12px rgba(0,0,0,1);
}
.painelTitleSlide{
  font-size:1.4em;font-weight: lighter;text-transform: uppercase;
}

#ccText, #ccClose{
  display:none;
  visibility: hidden;
}
.
#sidePainel{
  -webkit-user-select:none;
}
#scriptVersion{
pointer-events:none;text-align:center;z-index:2000;border-top:2.7em solid #666666;border-left:3em solid transparent;font-size: 160%;color:#000000;position:absolute;right:0;
}
#scriptVersion > div{
margin-top: -2.3em!important; margin-left: -1.6em!important;
}
blockquote{
  font-weight:100!important;line-height:15px!important;display:table;
}
.big{
  font-size: 4em;
}


hr{
  border-top-style: solid;border-width: 1px;margin:0px;
}
.changeColorsDark{
 border-color:#7d7d7d!important; color:#7d7d7d!important;
}
.changeColorsClear{
 border-color:white!important; color:white!important;
}
.changeColorsClear table{
 border-color:white!important;
}
.changeColorsClear li:before {
    background-position: 0px 1px;
}
.changeColorDark li:before {
    background-position: 21px 1px;
}
.changeColorsDark h1{
 border-color:#7d7d7d!important; color:#FF8000!important;transition: all .2s ease-in;
}

#iniciaElement{
   background-color:white;opacity:0;height:30%;width:22%;top:48%;left:73%;position:absolute;cursor:pointer;
}
#logoCompanyContainer{
  position: absolute; 
  height: 100%; 
  width:100%;
  top:88%;
  display: block;
  background-size:30%!important;
  background-position: 50% 0 !important;
  pointer-events:none;
  background-repeat:no-repeat!important;
  z-index:10;
}
.welcomeLogoCourse{
  height:35.5%!important;width:25%!important;transform:translate3d(260%,135%,0);position:absolute;animation:fadeInMoveIn 1s;
}
.flexBox{
  display:table-cell;margin:10px;
}
div[id*="Image"]{
  /*removed on Conceitos do Esocial user need to click on the envelope of the topic "Envio das InformaÃ§Ãµes"
  /*pointer-events:none;*/
}
#logoCourse{
  position:absolute;z-index:2;
}
.topicoNormalLogoCourse{
  width:45% !important; height:59.5% !important;transform:translate3d(10%,30.2%,0);opacity:1;animation: fadeInMoveIn 1.5s;
}
.topicoNormalLogoCourseFinal{
  width:45% !important; height:59.5% !important;transform:translate3d(10%,30.2%,0);opacity:1;animation: fadeInMoveIn 1s;
}

@keyframes fadeInMoveIn{
    from{opacity: 0;margin-left:-100%;}to{ opacity: 1;margin-left:0;}
}

#welcomeIcon{
  position:absolute;opacity:0;-webkit-user-select:auto;display: flex;
    justify-content: center;
    align-items: center;font-size: 1.5em;
    color: white;
}
.welcomeIcon{
  height:35.5%!important;width:25%!important;transform:translate3d(260%,-70%,0);opacity:0;position:absolute;background-color:#ccc;animation: fadeInMoveIn 1.5s;
}
.painelLateralNextWelcome,.painelLateralPreviousWelcome{
  visibility: hidden!important;
}
.painelLateralWelcome{
  -webkit-transform: translateY(-235px) translateX(50px);height:90%;width:55%;background:rgba(0,0,0,0);visibility: visible;animation: fadeInMoveIn 1.5s;
}
#messageFinalElement{
  z-index:5;
}
#showSidePainel > span{
    font-size:20px;
}

  #showSidePainel{
    visibility: visible;
    z-index: 100;
    opacity: 1;
    position: absolute;
    height: 30px;
    right: 0;
    bottom: 0;
    width: 30px;
    background-color: #ff8000!important;
    font-size: 180%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    -webkit-user-select: none;
  }

.painelNormalTextoSlide800{
  width:88%!important;max-width:100%!important;
}
.painelNormalPrevious800{
transform:translate3d(35em,5em,0)
}
.painelNormalNext800{
transform:translate3d(35em,1em,0)
}
.painelNormalPrevious800 > p, .painelNormalNext800 > p{
color:white!important;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px){
    .ranger{
        pointer-events: all;
        top: 98vh;
        position: absolute;
        z-index: 1000;
        color: rgb(255, 255, 255);
        text-align: -webkit-center;
        width: 100vw;
    }
    
    #character{
        top: 120px;
        left: 230px;
        width: 140px;
        z-index: 250;
        height: 430px;
        position: absolute;
        pointer-events: none;
    }
    .painelLateralWelcome{
        width: 100%;
        display: flex!important;
        align-items: center;
        flex-direction: column;
        padding: 0!important;
        transform: translateY(0) translateX(0)!important;
        position: fixed;
        left: 0;
        right: 0;
        height: 100%;
        top: 30px;
    }
  .painelTitleSlide{
    font-size:1em!important;
    font-weight: 300;
    font-weight: lighter;
    width: 80vw !important;
    max-width: 120%!important;
    margin-left: 0px!important;
  }
  .painelLateral{
    width: 100%;
    display: flex!important;
    align-items: center;
    flex-direction:column;
    padding: 0!important;
    transform: translateY(0) translateX(0)!important;
    position: fixed;
    left: 0;
    right: 0;
    height:100%;
    top:30px;
  }
  .painelNormal{
    width:100%;
    display: flex!important;
    justify-content: center;
    align-items: center;
    padding:0!important;
    transform: translateY(0) translateX(0)!important; 
    background: -webkit-linear-gradient(top, rgba(90,90,90,0), rgb(90, 90, 90));
    position: fixed;
    left: 0;
    right: 0;
    height:100%;
    top:30px;
    -webkit-transition: all .3s ease-out; 
    transition: all .3s ease-out; 
  }
  .translateBackground{
    -webkit-transition: all .5s ease-out; 
    transition: all .5s ease-out; 
    visibility: visible;
  }
  #nextBtn{
    transform: translateY(0) translateX(0);
    position: fixed!important;
    right: -10px;
    top: 80%!important;
  }
  #previousBtn{
    transform: translateY(0) translateX(0);
    position: fixed!important;
    left: -10px;
    top: 80%!important;
  }
  .painelNormalTextoSlide{
    overflow-y: scroll !important;
    height: auto!important;
    max-height: 90px!important;
    width: 60%!important;
    text-align: center;
    margin-left: 0!important;

  }
    .painelLateralTextoSlide{
        overflow-y: scroll !important;
        transform:translateY(0) translateX(0)!important; 
        width: 80vw !important;
        max-height: 78%!important;
    }
    .motion{
       height:auto!important;
       margin: auto;
       flex-direction: column;
       overflow-y: auto;
       display: flex;
       align-items: center;
       -webkit-user-select: auto;
       flex-wrap: wrap;
       overflow-wrap: break-word;
       overflow: visible;
       width:auto!important;
    }
    ::-webkit-scrollbar {
        width: 2px; /* 1px wider than Lion. */
        /* This is more usable for users trying to click it. */
        background-color: rgba(0,0,0,0);
       -webkit-border-radius: 100px;
    }
    .painelNormalMobile{
        width:95vw!important;height:50px!important;border-radius: 0px!important;transform:translateY(-280px) translateX(0%)!important;color:white;
    }
    .openTurnImage{                                 
        overflow-y:none;overflow-x:auto;
    }
    div[class*="cp-shape"],[width*="1024"],[height*="768"]{
        /*opacity:.5;*/
    }
    div[id*="Image"]{
        pointer-events:none;
    }
    /*div[id*="mobile"],canvas[id*="mobile"] {
        position:relative;left:0!important;top:0!important;width:inherit!important;display:flex;align-items: center;justify-content: center;
    }*/
    div[id*="re-Video"], div[class*="cp-eventVideo"], video{
        width: 100vw!important;
        height:100vh!important;
        top:0!important;
        left:0!important;
    }
    #welcomeIcon{
        visibility: hidden;
    }
      .topicoNormalLogoCourse{
        width:100vw!important; height:60vh!important;transform:translate3d(0,0,0);opacity:1;position:absolute;animation: fadeInMoveIn 1.5s;
      }
      .topicoNormalLogoCourseFinal{
        width:80vw!important; height:45vh!important;transform:translate3d(10vw,5vh,0);opacity:1;position:absolute;animation: fadeInMoveIn 1.5s;
      }
      #messageFinalElementText{
        margin-top:15em!important;margin-left:0!important;font-size:1em!important;
      }
      #project{
        background-color:#797C7F!important;
      }
      div[id*="re-Failure"], canvas[id*="Failure"]{
      visibility:hidden!important;/*margin-top:auto!important;margin-left:auto!important;left:50%!important;top:50%!important;transition: all .5s ease-out;position:fixed!important;*/
      }
      /*canvas[class*="cp-shape"]{
      opacity:.2!important;transition: all .5s ease-out;z-index:0!important;
      }*/
      .scaleBorderAnimation {
      opacity:0.2!important;-webkit-transition: all 0.2s ease-in;transition: all 0.2s ease-in;
      }
      big{
       font-size: 3em;
      }
      table{
      width:100%;
      }
     
      #videoIntroElement{
        width:100vw;height:100vh;vibility: hidden;
      }
      #scriptVersion{
        border-top:20vw solid #666666;border-left:20vw solid transparent;left:80vw;
      }
      #scriptVersion > div{
      margin-top: -19vw!important; margin-left: -7vh!important;
      }
      #main_container,#project_container{ 
      top:0px !important; width:100% !important; height:100% !important; transform: scale(1) !important; 
      } 
      #nomeTopicoContainer{
      width:100vw !important; height:19vh!important; top:60vh !important; left:0 !important; opacity: 1 !important; background-color:rgba(255,128,0,0.85);webkit-transition: opacity .5s ease-out; transition: opacity .5s ease-out;animation: fadeInMoveIn 1.5s;
      }
      #nomeTopicoText{
        font-size:20px;
      }
      #iniciaElement{
      position:absolute!important;z-index:200;display:table;color:white!important;width:100vw !important; height:23vh !important; top:78vh !important; left:0 !important; opacity: 1 !important; background-color:#666666 !important; webkit-transition: opacity .5s ease-out; transition: opacity .5s ease-out;animation: fadeInMoveIn 2s;
      }
      /*#logoCourse{
      top:0 !important; left:0 !important; width:100vw !important; height:60vh !important;-webkit-animation: changeBackground .5s ease-out forwards;
      }*/
      #showSidePainel{
      left:90vw !important; top:94vh !important; height:7vh!important; width:10vw!important; background-color:#666666!important;z-index:200!important;display:flex!important;justify-content: center;align-items: center;
      }
      
      #sidePainel{
      left:65vw !important; height:100vh!important;
      }
      #sidePainel,#emailBtn,#soundBtn,#painelBtn,#infoTopico,#language{
        width:35vw!important;
      }
      #logoCompanyContainer{
        position: absolute; 
        height: 15vh !important; 
        width: 100vw !important; 
        top: 85vh !important; 
        display: block; 
        -webkit-filter: brightness(3.3) grayscale(1); 
        background-image: url(../imagesTR/logoThomson.png) !important; 
        background-size: 10vh !important; 
        background-position: 42.5vw 0 !important;
        pointer-events:none;
        z-index:10;
      }
      #warningElementText{
        width:100vw!important;height:100vh!important;
      }
      #messageFinalElement{
        width:100vw!important;height:100vh!important;
      }
      .moveOut{
      -webkit-transform: translateX(0%); transform: translateX(0%); -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; visibility: visible;
      }
      .moveIn{
      -webkit-transform: translateX(100%); transform: translateX(100%); -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; visibility: hidden;
      }
      


      .painelNormalMobile{
      width:95vw!important;height:50px!important;border-radius: 0px!important;transform:translateY(-280px) translateX(0%)!important;background-color:#666666!important;color:white;box-shadow: 0px 11px 68px rgba(0, 0, 0, 0.2);
      }
      .painelNormalPrevious,.painelNormalNext{
      height:50px!important; width:78px!important; display:table; pointer-events:fill; position:absolute; -webkit-user-select:none;text-shadow:1px 1px 12px rgba(0,0,0,.5);color:white!important;
      }
      .painelNormalMobileTextoSlide{
        height:3em!important;transform:translate3d(0,0,0)!important;margin-left:5vw!important;width:90vw!important;
      }
      div[id*="re-Button"],div[id*="Button"]{
        left:65.4em!important;top:53.1em!important;display:fixed!important;
      }
      #painelNomeTopico{
        visibility: hidden!important;
      }
      
}

.moveOutDivSlide{
  transform: translateX(-150px)!important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: visible;
}
.moveInDivSlide{
  transform: translateX(0%)!important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  visibility: visible;
}

a{
      color: white;
    text-decoration: inherit;
    background-color: rgba(0,0,0,.3);
    padding: 10px;
}

/*this changed the whole strucuture
body {  
  font:"Knowledge", arial, sans-serif;  
  font-weight: 100;  
}  

strong{
  font-style:bold;
  font-weight:600;
}*/